<h1>Full Menu</h1>
 <%= link_to 'New Order', new_order_path %>
 <%= link_to 'All Orders', orders_path %>

<table>
	<tr>
		<th>Item</th>
		<th>Price</th>
		<th colspan="5"></th>
	</tr>
	<% @menu.each do |item| %>
		<tr>
			<td><%= item.item %></td>
			<td><%= item.price %></td>
		</tr>
	<% end %>
</table>