<h1>All orders</h1>

<table>
	<tr>
		<th>Orderer</th>
		<th>Order</th>
		<th colspan="5"></th>
	</tr>
	<% @orders.each do |order| %>
		<tr>
			<td><%= order.orderer %></td>
			<td><%= order.dish %></td>
			<td><%= order.drink %></td>
		</tr>
	<% end %>
</table>